@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";
@import "@nuxt/ui";

:root{
    --font-sans:'Roboto', sans-serif
}

.font-anton{
    font-family: 'Anton', sans-serif;
}